In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("home_prices.csv")

In [3]:
df.head()

   area_sqr_ft  price_lakhs
0          656         39.0
1         1260         83.2
2         1057         86.6
3         1259         59.0
4         1800        140.0