In [1]:
import pandas as pd

In [2]:
india_df = pd.DataFrame({
    "city": ["mumbai", "delhi", "chennai"],
    "temperature": [23,15, 25],
    "humidity": [65,24,62]
})

In [3]:
us_df = pd.DataFrame({
    "city": ["new york", "chicago", "orlando"],
    "temperature": [12,32, 14],
    "humidity": [65,24,45]
})

In [10]:
pd.concat([india_df, us_df], keys=["india", "us"])

             city  temperature  humidity
india 0    mumbai           23        65
      1     delhi           15        24
      2   chennai           25        62
us    0  new york           12        65
      1   chicago           32        24
      2   orlando           14        45