In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("heights_with_outliers.csv")

In [5]:
mean = df.height.mean()
std = df.height.std()

In [6]:
df["z_score"] = (df.height - mean)/std

In [7]:
df.head()

       name  height   z_score
0     Aarav    5.45 -0.432520
1   Deepika    8.20  6.946988
2  Abhishek    5.65  0.104172
3     Sneha    5.52 -0.244678
4     Kriti    5.69  0.211510

In [9]:
df_new = df[(df["z_score"] < -3) | (df["z_score"] > 3)]

In [10]:
df_new #These are outliers

       name  height    z_score
1   Deepika     8.2   6.946988
16    Tanvi     3.2  -6.470299
57    Priya     3.4  -5.933608
76    Aarav     9.4  10.167137

In [12]:
df_clean= df[(df["z_score"] > -3) & (df["z_score"] < 3)]

In [13]:
df_clean.describe()

           height     z_score
count  996.000000  996.000000
mean     5.609418   -0.004729
std      0.327881    0.879855
min      4.650000   -2.579286
25%      5.357500   -0.680739
50%      5.625000    0.037085
75%      5.850000    0.640863
max      6.630000    2.733960