In [170]:
import pandas as pd

In [171]:
df = pd.read_csv("weather_data.csv", parse_dates=["day"])
df

         day  temperature  windspeed   event
0 2017-01-01         32.0        6.0    Rain
1 2017-01-04          NaN        9.0   Sunny
2 2017-01-05         28.0        NaN    Snow
3 2017-01-06          NaN        7.0     NaN
4 2017-01-07         32.0        NaN    Rain
5 2017-01-08          NaN        NaN   Sunny
6 2017-01-09          NaN        NaN     NaN
7 2017-01-10         34.1        8.1  Cloudy
8 2017-01-11         40.0       12.0   Sunny

In [172]:
type(df.day[0])

pandas._libs.tslibs.timestamps.Timestamp

In [173]:
df.set_index("day", inplace=True)

In [174]:
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-06          NaN        7.0     NaN
2017-01-07         32.0        NaN    Rain
2017-01-08          NaN        NaN   Sunny
2017-01-09          NaN        NaN     NaN
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny

In [175]:
# Option 1: with fill na

# df.fillna({
#     "temperature": df.temperature.mean(),
#     "windspeed": df.temperature.mean(),
#     "event": "No event"
# }, inplace=True)

# Option 2: ffill, bfill, limit, axix
# df = df.ffill(axis="columns")   # forward fill
# or
# df = df.bfill()  # backward fill

# Option 3: interpolate function
# df = df.interpolate(method="linear")

# Option 4: DropNa, any, all,  threshold
# df = df.dropna(how="any")
df = df.dropna(thresh=2)
df

            temperature  windspeed   event
day
2017-01-01         32.0        6.0    Rain
2017-01-04          NaN        9.0   Sunny
2017-01-05         28.0        NaN    Snow
2017-01-07         32.0        NaN    Rain
2017-01-10         34.1        8.1  Cloudy
2017-01-11         40.0       12.0   Sunny